# Build artifacts
public/*.js
public/*.jpg
public/*.css
public/scripts

# IDE files
.idea

# NPM files
node_modules/
npm-debug.log

# OS files
.DS_Store

# OS images
image/*
!image/config.json
!image/device-init.yaml
