@import "../variables";

.ukTextField {
  flex: 0 1 auto;
  align-self: center;
}

.ukInputField {
  display: flex;
}

.ukTip {
  margin-left: 6 * $baseline-grid;
  flex: 1 1 auto;
  align-self: center;
}
