// Function
//-- Must be defined before variables
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

$headline-font-size-base:  rem(2.4) !default;
$toolbar-height-size-base: rem(6.4) !default;
$toolbar-height-size-base-sm: rem(4.8) !default;

$baseline-grid: 8px;
