html, body {
  height: 100%;
  background-color: red;
}

body {
  margin: 0;
  height: 100%;
}

.ukRoot {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ukCard {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: red;
}

.ukTextField {
  margin-left: 16px;
}

.ukAdvancedButton {
  align-self: flex-start;
}
