@import '../../variables';

.ukToolbarColor {
  color: white !important;
}

.ukToolbar {
  flex: 0 1 auto;
  height: $toolbar-height-size-base !important;
  -ms-overflow-style: scrollbar;

  // App can be dragged by toolbar
  -webkit-app-region: drag;
}

.ukToolbarTitle {
  @extend .ukToolbarColor;
  font-size: $headline-font-size-base !important;
  margin-left: 4 * $baseline-grid;
}

.ukToolbarIcon {
  @extend .ukToolbarColor;
  -webkit-app-region: no-drag;
}
